.view {
   width: 360px;
   height: 250px;
   margin: 10px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
}
.view .mask,.view .content {
   width: 360px;
   height: 260px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h3 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   margin: 60px 0 0 0;
}
.view p {
   font-style: italic;
   font-size: 13px;
   position: relative;
   color: #fff;
   line-height: 1.8em;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}
@media(max-width:1024px){
.view {
  width: 290px;
  height: 210px;
}
.view .mask, .view .content {
  width: 290px;
  height: 210px;
}
.view h3 {
  margin: 35px 0 0 0;
}
.view p {
  padding: 0px 20px 20px;
}
}
@media(max-width:768px){
.view {
  width: 220px;
  height: 159px;
}
.view .mask, .view .content {
  width: 220px;
  height: 160px;
}
.view h3 {
  margin: 15px 0 0 0;
  font-size: 13px;
  padding: 7px;
}
span.gall {
  font-size: 0.9em;
}
}
@media(max-width:640px){
.view {
  width: 177px;
  height: 127px;
}
.view .mask, .view .content {
  width: 178px;
  height: 128px;
}
.view h3 {
  font-size: 11px;
  padding: 7px;
  margin: 8px 0 0 0;
}
.view p {
  font-size: 12px;
  padding: 2px 6px 7px;
}
span.gall {
  font-size: 0.75em;
  padding: 0.3em 1em;
}
}
@media(max-width:480px){
.view {
  width: 196px;
}	
.view .mask, .view .content {
  width: 196px;
}
}
@media(max-width:320px){
.view {
  width: 250px;
  height: 162px;
}
.view .mask, .view .content {
 width: 250px;
  height: 162px;
}
.view h3 {
  margin: 40px 0 0 0;
}
}